/* Imagen de fondo del header */
.header-bg {
    background-image: url('images/header-bg.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el ancho del contenedor */
    background-position: center; /* Centra la imagen */
    min-height: 100vh; /* Ajusta el fondo para ocupar el 100% de la altura de la ventana */
    display: flex; /* Para centrar el contenido del header */
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
}
/* Estilo para el encabezado */
.header-bg h1 {
    margin-bottom: 50px; /* Espaciado entre el título principal y el subtítulo */
    font-size: 10rem; /* Tamaño del texto del título principal */
}

.header-bg p {
    font-size: 1.5rem; /* Tamaño del subtítulo */
    margin-top: 10; /* Evita espaciado extra encima del subtítulo */
}


/* Tarjetas de vehículos */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
}

/* Espaciado dinámico para evitar que el encabezado sea cubierto */
.mt-header {
    margin-top: 40px; /* Altura típica del menú fijo en Bootstrap */
}

@media (min-width: 992px) {
    .mt-header {
        margin-top: 50px; /* Ajusta si el menú es más alto en pantallas grandes */
    }
}
